<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" bean-discovery-mode="all">

  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <!-- End of Errai exclusions -->

    <!-- Errai -->
    <exclude name="org.jboss.errai.databinding.client.**"/>

    <!-- UF -->
    <exclude name="org.uberfire.client.**"/>

    <!-- UF Extensions -->
    <exclude name="org.uberfire.ext.apps.client.**"/>
    <exclude name="org.uberfire.ext.editor.commons.client.**"/>
    <exclude name="org.uberfire.ext.plugin.client.**"/>
    <exclude name="org.uberfire.ext.widgets.common.client.**"/>
    <exclude name="org.uberfire.ext.widgets.sandbox.client.**"/>
    <exclude name="org.uberfire.ext.properties.editor.client.**"/>
    <exclude name="org.uberfire.ext.widgets.core.client.**"/>

    <!-- Workbench -->
    <exclude name="org.kie.workbench.drools.client.**"/>

    <!-- AppFormer -->
    <exclude name="org.kie.appformer.client.**"/>
    <exclude name="org.kie.appformer.formmodeler.rendering.client.**"/>
    <exclude name="org.kie.appformer.formmodeler.renderer.client.**"/>
    <exclude name="org.kie.appformer.formmodeler.editor.client.**"/>

  </scan>
</beans>
