<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  <listener>
    <listener-class>org.guvnor.m2repo.backend.server.M2ServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>M2Servlet</servlet-name>
    <servlet-class>org.guvnor.m2repo.backend.server.M2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M2Servlet</servlet-name>
    <url-pattern>/maven2/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>