.appformer_experimental_disabled_feature_content {
    padding: 20px;
}

.appformer_experimental_disabled_feature_header {
    margin-top: 0px !important;
}

.appformer_experimental_disabled_feature_alert_size {
    font-size: 40pt;
}
