* {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html, body {
    min-height: 800px;
    min-width: 850px;
    font-size: 13.5px;
    height: 100%;
}

small {
    font-size: 11.5px;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -1px;
    font-weight: normal;
    font-family: "Overpass", sans-serif;
}

a {
    color: #0099d3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
